In [1]:
import pandas as pd
import deepxde as dde
import numpy as np
import re
import matplotlib.pyplot as plt

Using backend: tensorflow.compat.v1
Other supported backends: tensorflow, pytorch, jax, paddle.
paddle supports more examples now and is recommended.

WARNING:tensorflow:From C:\env\Lib\site-packages\tensorflow\python\compat\v2_compat.py:107: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term
WARNING:tensorflow:From C:\env\Lib\site-packages\deepxde\nn\initializers.py:118: The name tf.keras.initializers.he_normal is deprecated. Please use tf.compat.v1.keras.initializers.he_normal instead.

In [2]:
H_True = 1.7
H = dde.Variable(1.0)

In [3]:
# initial condition
x0 = [1.002987]

In [11]:
input_data = pd.read_csv('data/918test3rd_te.csv', index_col=0)
input_data

,Time,Pe,Tm,delta,Pt,w,Te
0,0.00000,1.432088e-09,0.000000,0.007208,1.432031e-09,1.002987,0.003303
1,0.00005,1.432088e-09,0.000000,0.007207,1.432031e-09,1.002987,0.003303
2,0.00010,1.432088e-09,0.000000,0.007207,1.432031e-09,1.002987,0.003313
3,0.00015,1.432088e-09,0.000000,0.007207,1.432031e-09,1.002987,0.003303
4,0.00020,1.432088e-09,0.000000,0.007207,1.432031e-09,1.002987,0.003303
...,...,...,...,...,...,...,...
7995,0.39975,2.931009e-01,0.856380,0.425160,3.011125e-01,0.982347,0.618369
7996,0.39980,2.931049e-01,0.856309,0.425187,3.011125e-01,0.982350,0.618374
7997,0.39985,2.931088e-01,0.856239,0.425213,3.011124e-01,0.982354,0.618369
7998,0.39990,2.931128e-01,0.856168,0.425239,3.011124e-01,0.982357,0.618363
7999,0.39995,2.931168e-01,0.856097,0.425265,3.011123e-01,0.982361,0.618363