In [1]:
import pandas as pd
import numpy as np

In [4]:
pd_data = pd.read_csv('data/918test3rd_te.csv', index_col=0)

In [5]:
pd_data

         Time        Pe        Tm     delta        Pt         w        Te
0     0.00000 -0.001771  0.000000 -0.000710 -0.001771  1.000507  0.000000
1     0.00005 -0.001771  0.000000 -0.000710 -0.001771  1.000507  0.000000
2     0.00010 -0.001771  0.000000 -0.000710 -0.001771  1.000507  0.000000
3     0.00015 -0.001771  0.000000 -0.000710 -0.001771  1.000507  0.000000
4     0.00020 -0.001771  0.000000 -0.000710 -0.001771  1.000507  0.000000
...       ...       ...       ...       ...       ...       ...       ...
7995  0.39975  0.488091  1.056364  0.578104  0.502388  0.946643  1.070208
7996  0.39980  0.488098  1.056365  0.578137  0.502388  0.946643  1.070199
7997  0.39985  0.488106  1.056365  0.578170  0.502388  0.946642  1.070209
7998  0.39990  0.488113  1.056365  0.578203  0.502388  0.946642  1.070209
7999  0.39995  0.488120  1.056365  0.578236  0.502388  0.946642  1.070209

[8000 rows x 7 columns]

In [10]:
(pd_data.Tm - pd_data.Te)[1:] / ((pd_data.w[1:].to_numpy() - pd_data.w[:-1].to_numpy()) / (pd_data.Time[1] - pd_data.Time[0])) / 2

1            NaN
2            NaN
3            NaN
4            NaN
5            NaN
          ...
7995    1.498966
7996    1.500000
7997    1.501036
7998    1.498966
7999    1.501008
Length: 7999, dtype: float64

In [12]:
((pd_data.Tm - pd_data.Te)[1:] / ((pd_data.w[1:].to_numpy() - pd_data.w[:-1].to_numpy()) / (pd_data.Time[1] - pd_data.Time[0])) / 2).tail(20)

7980    1.498966
7981    1.501036
7982    1.500000
7983    1.498966
7984    1.501036
7985    1.500000
7986    1.498966
7987    1.501036
7988    1.498966
7989    1.501036
7990    1.498966
7991    1.501036
7992    1.498966
7993    1.500000
7994    1.501036
7995    1.498966
7996    1.500000
7997    1.501036
7998    1.498966
7999    1.501008
dtype: float64